In [1]:
from datetime import datetime

import pandas as pd

In [2]:
noahs_customers = pd.read_csv("../noahs-customers.csv")

noahs_orders_items = pd.read_csv("../noahs-orders_items.csv")

noahs_orders = pd.read_csv("../noahs-orders.csv")

noahs_products = pd.read_csv("../noahs-products.csv")

In [3]:
noahs_customers = noahs_customers[['customerid', 'name', 'phone']]

noahs_orders = noahs_orders[['orderid', 'customerid', 'shipped']]

noahs_orders_items = noahs_orders_items[['orderid', 'sku', 'qty']]

noahs_products = noahs_products[['sku', 'desc']]

In [4]:
noahs_orders.dtypes

orderid        int64
customerid     int64
shipped       object
dtype: object

In [5]:
# Find the customer id of the person from previous puzzle

initial_person_customerid = noahs_customers[noahs_customers["phone"] 
                                            == "585-838-9161"]["customerid"].iloc[0]

initial_person_customerid

4167

In [6]:
noahs_orders['shipped'] = pd.to_datetime(noahs_orders['shipped'])

In [7]:
# Find the date from shipped column

noahs_orders["shipping_date"] = noahs_orders["shipped"].apply(lambda x: x.strftime("%Y-%m-%d"))

In [8]:
noahs_orders

        orderid  customerid             shipped shipping_date
0          1001        6878 2017-01-31 09:00:00    2017-01-31
1          1002        6375 2017-01-31 12:15:00    2017-01-31
2          1003        8045 2017-01-31 10:45:00    2017-01-31
3          1004        5385 2017-01-31 09:00:00    2017-01-31
4          1005        9235 2017-01-31 16:00:00    2017-01-31
...         ...         ...                 ...           ...
213227   214228        2886 2022-12-20 18:15:00    2022-12-20
213228   214229        8735 2022-12-21 14:15:00    2022-12-21
213229   214230        4043 2022-12-17 15:00:00    2022-12-17
213230   214231        3894 2022-12-23 18:15:00    2022-12-23
213231   214232        1368 2022-12-17 18:30:00    2022-12-17

[213232 rows x 4 columns]

In [9]:
noahs_ordered_products = noahs_products.merge(noahs_orders_items, on="sku", how="inner")

noahs_ordered_products

            sku                       desc  orderid  qty
0       PET0002  Wet Cat Food, Tuna & Tuna     3368    1
1       PET0002  Wet Cat Food, Tuna & Tuna     3909    1
2       PET0002  Wet Cat Food, Tuna & Tuna     4141    1
3       PET0002  Wet Cat Food, Tuna & Tuna     4473    1
4       PET0002  Wet Cat Food, Tuna & Tuna     4593    1
...         ...                        ...      ...  ...
426536  TOY9997                 Power Doll   210465    1
426537  TOY9997                 Power Doll   210624    1
426538  TOY9997                 Power Doll   211382    1
426539  TOY9997                 Power Doll   212868    1
426540  TOY9997                 Power Doll   213876    1

[426541 rows x 4 columns]

In [10]:
noahs_ordered_products_customer_id = noahs_ordered_products.merge(noahs_orders, on="orderid", how="inner")

noahs_ordered_products_customer_id

,sku,desc,orderid,qty,customerid,shipped,shipping_date
0,PET0002,"Wet Cat Food, Tuna & Tuna",3368,1,6538,2017-02-22 20:15:00,2017-02-22
1,PET0002,"Wet Cat Food, Tuna & Tuna",3909,1,6830,2017-02-28 12:00:00,2017-02-28
2,PET0002,"Wet Cat Food, Tuna & Tuna",4141,1,7212,2017-03-02 16:45:00,2017-03-02
3,PET0002,"Wet Cat Food, Tuna & Tuna",4473,1,8045,2017-03-05 16:30:00,2017-03-05
4,PET0002,"Wet Cat Food, Tuna & Tuna",4593,1,7171,2017-03-13 15:15:00,2017-03-13
...,...,...,...,...,...,...,...
426536,TOY9997,Power Doll,210465,1,6838,2022-11-09 13:30:00,2022-11-09
426537,TOY9997,Power Doll,210624,1,3794,2022-11-12 13:15:00,2022-11-12
426538,TOY9997,Power Doll,211382,1,4616,2022-11-18 13:51:04,2022-11-18
426539,TOY9997,Power Doll,212868,1,7278,2022-12-03 17:30:00,2022-12-03
426540,TOY9997,Power Doll,213876,1,5680,2022-12-13 16:45:00,2022-12-13

In [11]:
noahs_ordered_products_customer_id["duplicated_desc_date"] = noahs_ordered_products_customer_id.duplicated(
    subset=["desc", "shipping_date"], keep=False)

noahs_ordered_products_customer_id_duplicates = noahs_ordered_products_customer_id[noahs_ordered_products_customer_id["duplicated_desc_date"] == True]

In [12]:
noahs_ordered_products_customer_id_duplicates.head()

,sku,desc,orderid,qty,customerid,shipped,shipping_date,duplicated_desc_date
0,PET0002,"Wet Cat Food, Tuna & Tuna",3368,1,6538,2017-02-22 20:15:00,2017-02-22,True
1,PET0002,"Wet Cat Food, Tuna & Tuna",3909,1,6830,2017-02-28 12:00:00,2017-02-28,True
2,PET0002,"Wet Cat Food, Tuna & Tuna",4141,1,7212,2017-03-02 16:45:00,2017-03-02,True
3,PET0002,"Wet Cat Food, Tuna & Tuna",4473,1,8045,2017-03-05 16:30:00,2017-03-05,True
4,PET0002,"Wet Cat Food, Tuna & Tuna",4593,1,7171,2017-03-13 15:15:00,2017-03-13,True

In [13]:
colours = [
    "red", "blue", "green", "yellow", "purple",
    "orange", "pink", "brown", "black", "white",
    "gray", "cyan", "magenta", "teal", "indigo",
    "violet", "gold", "silver", "beige", "maroon"
]

def check_desc_colours(desc_name: str) -> str | None:

    for colour in colours:

        if colour in desc_name:

            return colour
        
    return None

In [14]:
noahs_ordered_products_customer_id_duplicates["product_coloured"] = noahs_ordered_products_customer_id_duplicates["desc"].apply(check_desc_colours)

/var/folders/22/81pdbfvd4nn4qrrp_t9990tm0000gn/T/ipykernel_59783/2020392706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noahs_ordered_products_customer_id_duplicates["product_coloured"] = noahs_ordered_products_customer_id_duplicates["desc"].apply(check_desc_colours)

In [15]:
noahs_ordered_products_customer_id_duplicates.head()

,sku,desc,orderid,qty,customerid,shipped,shipping_date,duplicated_desc_date,product_coloured
0,PET0002,"Wet Cat Food, Tuna & Tuna",3368,1,6538,2017-02-22 20:15:00,2017-02-22,True,None
1,PET0002,"Wet Cat Food, Tuna & Tuna",3909,1,6830,2017-02-28 12:00:00,2017-02-28,True,None
2,PET0002,"Wet Cat Food, Tuna & Tuna",4141,1,7212,2017-03-02 16:45:00,2017-03-02,True,None
3,PET0002,"Wet Cat Food, Tuna & Tuna",4473,1,8045,2017-03-05 16:30:00,2017-03-05,True,None
4,PET0002,"Wet Cat Food, Tuna & Tuna",4593,1,7171,2017-03-13 15:15:00,2017-03-13,True,None

In [16]:
noahs_ordered_products_customer_id_duplicates.dropna(subset=["product_coloured"], inplace=True)

noahs_ordered_products_customer_id_duplicates["product_coloured"].value_counts()

/var/folders/22/81pdbfvd4nn4qrrp_t9990tm0000gn/T/ipykernel_59783/2630151328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noahs_ordered_products_customer_id_duplicates.dropna(subset=["product_coloured"], inplace=True)

product_coloured
purple     373
yellow     359
blue       351
magenta    350
green      346
red        346
white      332
orange     294
Name: count, dtype: int64

In [23]:
noahs_ordered_products_customer_details_duplicates = noahs_ordered_products_customer_id_duplicates.merge(noahs_customers, on="customerid", how="inner")

noahs_ordered_products_customer_details_duplicates[
    noahs_ordered_products_customer_details_duplicates["customerid"] == initial_person_customerid]

Empty DataFrame
Columns: [sku, desc, orderid, qty, customerid, shipped, shipping_date, duplicated_desc_date, product_coloured, name, phone]
Index: []

In [18]:
unique_dates = list(noahs_ordered_products_customer_details_duplicates["shipping_date"].unique())

unique_dates

['2017-09-29',
 '2017-12-01',
 '2018-06-17',
 '2019-02-22',
 '2019-12-01',
 '2020-03-10',
 '2020-06-05',
 '2020-07-05',
 '2020-07-16',
 '2020-10-26',
 '2020-11-16',
 '2021-05-23',
 '2021-07-01',
 '2021-07-11',
 '2021-09-07',
 '2021-09-23',
 '2021-10-26',
 '2021-12-21',
 '2022-01-22',
 '2022-03-31',
 '2022-09-18',
 '2017-10-27',
 '2017-10-28',
 '2017-12-14',
 '2018-01-04',
 '2018-04-09',
 '2018-05-31',
 '2018-10-20',
 '2018-12-17',
 '2019-01-29',
 '2019-02-25',
 '2019-05-28',
 '2019-09-11',
 '2019-12-08',
 '2019-12-11',
 '2020-04-22',
 '2020-09-23',
 '2020-11-02',
 '2020-10-31',
 '2021-03-04',
 '2021-11-24',
 '2022-01-08',
 '2022-01-30',
 '2022-04-05',
 '2022-04-26',
 '2022-06-24',
 '2022-08-23',
 '2022-09-12',
 '2017-07-04',
 '2017-08-01',
 '2017-10-08',
 '2018-04-29',
 '2018-08-11',
 '2018-09-11',
 '2018-12-31',
 '2019-01-09',
 '2019-02-17',
 '2019-08-20',
 '2019-08-24',
 '2019-10-10',
 '2019-12-23',
 '2020-01-27',
 '2020-07-15',
 '2020-09-21',
 '2021-01-16',
 '2021-03-07',
 '2021-04-30',
 '2021-05-26',
 '2021-06-10',
 '2021-10-27',
 '2022-03-29',
 '2022-07-25',
 '2022-11-11',
 '2022-11-14',
 '2022-12-09',
 '2017-02-11',
 '2017-02-05',
 '2017-02-27',
 '2017-05-08',
 '2017-08-03',
 '2017-12-08',
 '2017-12-24',
 '2018-04-20',
 '2018-06-25',
 '2018-06-30',
 '2019-01-03',
 '2019-01-20',
 '2019-02-06',
 '2019-02-18',
 '2019-03-30',
 '2019-05-07',
 '2019-05-22',
 '2019-09-25',
 '2019-11-23',
 '2020-03-30',
 '2020-08-03',
 '2020-11-11',
 '2020-11-15',
 '2021-01-23',
 '2021-04-12',
 '2021-06-01',
 '2021-12-09',
 '2022-04-16',
 '2022-10-17',
 '2017-02-12',
 '2017-03-11',
 '2017-06-19',
 '2017-07-27',
 '2017-07-30',
 '2018-02-02',
 '2018-04-30',
 '2018-09-14',
 '2018-12-23',
 '2019-05-01',
 '2020-07-21',
 '2021-01-01',
 '2021-03-17',
 '2021-04-24',
 '2021-05-09',
 '2021-08-03',
 '2021-11-02',
 '2022-03-22',
 '2022-05-17',
 '2022-08-08',
 '2022-08-16',
 '2022-12-02',
 '2017-02-15',
 '2017-06-18',
 '2017-07-12',
 '2017-08-04',
 '2017-08-10',
 '2017-11-20',
 '2017-12-25',
 '2018-02-22',
 '2018-03-02',
 '2018-04-05',
 '2018-04-27',
 '2018-05-03',
 '2018-07-28',
 '2018-08-24',
 '2018-10-17',
 '2019-03-17',
 '2019-03-29',
 '2019-05-20',
 '2019-08-19',
 '2020-01-23',
 '2020-02-25',
 '2020-05-11',
 '2021-03-03',
 '2021-07-08',
 '2021-08-25',
 '2021-10-15',
 '2021-10-21',
 '2021-12-19',
 '2022-05-08',
 '2022-07-08',
 '2017-05-21',
 '2017-07-26',
 '2017-11-22',
 '2018-01-10',
 '2018-03-17',
 '2018-10-16',
 '2019-10-22',
 '2019-12-12',
 '2020-01-18',
 '2020-03-26',
 '2020-06-08',
 '2020-08-18',
 '2021-05-18',
 '2021-10-30',
 '2022-02-02',
 '2022-07-13',
 '2022-10-06',
 '2017-06-28',
 '2017-08-29',
 '2017-09-24',
 '2018-03-04',
 '2018-08-09',
 '2018-09-04',
 '2018-12-24',
 '2019-07-28',
 '2019-09-10',
 '2019-09-18',
 '2020-01-22',
 '2020-03-06',
 '2020-06-18',
 '2020-10-10',
 '2021-03-29',
 '2021-06-12',
 '2022-01-10',
 '2022-01-17',
 '2022-04-06',
 '2022-04-15',
 '2022-05-27',
 '2022-07-12',
 '2022-08-17',
 '2022-10-30',
 '2017-02-04',
 '2017-02-21',
 '2017-08-19',
 '2018-02-15',
 '2018-03-13',
 '2018-05-26',
 '2018-11-29',
 '2019-01-21',
 '2019-03-06',
 '2019-03-08',
 '2020-04-16',
 '2020-05-19',
 '2020-09-12',
 '2020-10-16',
 '2020-11-27',
 '2021-01-29',
 '2021-03-27',
 '2021-06-19',
 '2021-11-05',
 '2017-03-01',
 '2017-12-05',
 '2018-01-25',
 '2018-12-03',
 '2019-03-16',
 '2019-08-13',
 '2019-09-09',
 '2019-12-13',
 '2021-01-21',
 '2021-02-11',
 '2021-12-03',
 '2022-02-23',
 '2022-04-08',
 '2022-05-29',
 '2022-09-19',
 '2017-06-26',
 '2017-09-10',
 '2017-11-02',
 '2017-11-26',
 '2018-01-05',
 '2018-02-10',
 '2018-06-19',
 '2018-08-28',
 '2019-05-10',
 '2019-05-15',
 '2019-12-25',
 '2020-05-23',
 '2020-09-07',
 '2020-11-30',
 '2021-02-04',
 '2021-05-08',
 '2021-06-05',
 '2022-04-30',
 '2017-11-11',
 '2017-11-24',
 '2018-01-09',
 '2018-05-17',
 '2018-06-12',
 '2018-07-23',
 '2018-08-02',
 '2018-09-17',
 '2018-11-06',
 '2019-02-23',
 '2019-12-27',
 '2020-02-13',
 '2020-03-22',
 '2020-04-15',
 '2020-08-25',
 '2020-08-28',
 '2021-02-05',
 '2021-06-07',
 '2021-07-19',
 '2021-09-22',
 '2021-11-30',
 '2021-12-30',
 '2022-03-24',
 '2022-07-20',
 '2022-07-28',
 '2022-08-06',
 '2017-03-09',
 '2017-03-22',
 '2017-09-14',
 '2018-02-11',
 '2019-01-28',
 '2019-03-15',
 '2019-06-06',
 '2019-07-26',
 '2019-12-04',
 '2020-03-23',
 '2020-07-01',
 '2020-12-30',
 '2021-03-11',
 '2021-04-21',
 '2021-05-10',
 '2021-08-11',
 '2021-09-14',
 '2022-01-04',
 '2022-04-09',
 '2022-05-15',
 '2022-06-15',
 '2022-11-05',
 '2017-05-12',
 '2017-06-27',
 '2017-08-17',
 '2018-02-17',
 '2018-03-06',
 '2018-07-18',
 '2018-09-27',
 '2020-01-16',
 '2020-12-21',
 '2021-08-17',
 '2021-10-18',
 '2022-04-07',
 '2022-08-30',
 '2022-09-04',
 '2022-10-12',
 '2017-02-17',
 '2017-03-29',
 '2017-04-11',
 '2017-04-10',
 '2017-04-20',
 '2017-04-23',
 '2017-12-26',
 '2017-12-21',
 '2018-06-05',
 '2019-04-10',
 '2019-04-26',
 '2019-12-15',
 '2020-02-14',
 '2020-05-18',
 '2020-07-19',
 '2020-11-23',
 '2020-11-26',
 '2020-11-25',
 '2021-01-14',
 '2021-04-29',
 '2021-05-12',
 '2021-05-27',
 '2021-09-11',
 '2021-10-16',
 '2021-11-09',
 '2022-08-04',
 '2017-02-10',
 '2017-08-31',
 '2017-10-05',
 '2018-05-07',
 '2018-06-01',
 '2018-11-07',
 '2018-11-22',
 '2019-04-30',
 '2019-07-02',
 '2019-10-18',
 '2019-11-05',
 '2020-01-06',
 '2020-06-22',
 '2020-07-02',
 '2020-12-03',
 '2020-12-09',
 '2021-03-20',
 '2021-06-27',
 '2022-03-04',
 '2022-03-17',
 '2022-04-23',
 '2022-08-03',
 '2017-06-03',
 '2017-06-20',
 '2017-10-09',
 '2018-03-14',
 '2018-07-08',
 '2018-11-04',
 '2018-12-22',
 '2019-03-21',
 '2019-03-31',
 '2019-11-17',
 '2020-07-26',
 '2021-04-05',
 '2021-08-27',
 '2022-01-18',
 '2022-02-24',
 '2022-11-07',
 '2022-12-13',
 '2017-04-21',
 '2017-10-29',
 '2018-07-22',
 '2019-01-07',
 '2019-11-28',
 '2020-07-14',
 '2020-12-12',
 '2021-01-11',
 '2021-02-09',
 '2021-02-17',
 '2021-09-24',
 '2022-09-28',
 '2017-07-02',
 '2018-03-05',
 '2018-07-06',
 '2018-08-06',
 '2018-12-15',
 '2019-02-03',
 '2019-02-20',
 '2019-05-02',
 '2019-12-19',
 '2020-08-09',
 '2020-08-04',
 '2020-08-12',
 '2020-09-19',
 '2020-10-29',
 '2021-07-02',
 '2021-07-24',
 '2021-09-17',
 '2021-11-13',
 '2022-02-04',
 '2022-06-30',
 '2017-05-10',
 '2017-10-13',
 '2017-11-08',
 '2018-03-10',
 '2018-03-26',
 '2018-06-08',
 '2018-07-17',
 '2018-11-10',
 '2019-01-10',
 '2019-03-04',
 '2019-03-24',
 '2020-02-18',
 '2020-04-12',
 '2020-09-28',
 '2021-03-15',
 '2021-04-02',
 '2021-04-16',
 '2021-06-15',
 '2021-12-25',
 '2022-03-26',
 '2022-05-05',
 '2022-08-18',
 '2022-08-25',
 '2022-11-22',
 '2017-05-07',
 '2017-05-17',
 '2017-09-26',
 '2018-06-14',
 '2018-08-21',
 '2018-11-13',
 '2018-11-24',
 '2019-03-22',
 '2019-05-29',
 '2019-06-25',
 '2019-09-17',
 '2020-02-08',
 '2020-11-29',
 '2021-02-25',
 '2021-07-12',
 '2021-07-25',
 '2021-10-28',
 '2021-12-10',
 '2022-08-27',
 '2022-11-29',
 '2022-12-10',
 '2017-03-16',
 '2017-09-03',
 '2017-12-20',
 '2018-04-17',
 '2018-09-23',
 '2018-10-07',
 '2018-11-23',
 '2019-03-11',
 '2019-04-01',
 '2019-04-04',
 '2019-04-15',
 '2019-07-12',
 '2019-07-17',
 '2019-12-22',
 '2020-02-12',
 '2020-09-25',
 '2020-11-07',
 '2021-11-06',
 '2022-02-26',
 '2022-11-17',
 '2017-01-31',
 '2017-02-28',
 '2017-03-25',
 '2017-04-16',
 '2017-09-12',
 '2019-08-15',
 '2020-03-31',
 '2020-04-02',
 '2020-05-13',
 '2020-06-28',
 '2020-11-19',
 '2021-02-10',
 '2021-03-02',
 '2021-08-13',
 '2021-09-01',
 '2022-01-26',
 '2022-04-19',
 '2022-07-09',
 '2017-07-01',
 '2017-07-31',
 '2017-09-01',
 '2017-10-30',
 '2017-12-10',
 '2018-01-06',
 '2018-01-15',
 '2019-04-02',
 '2019-04-14',
 '2019-04-25',
 '2019-05-30',
 '2019-08-16',
 '2019-08-18',
 '2020-01-17',
 '2020-04-13',
 '2020-09-30',
 '2020-10-04',
 '2022-04-12',
 '2022-07-07',
 '2022-11-12',
 '2017-03-27',
 '2018-02-24',
 '2018-06-13',
 '2018-06-27',
 '2018-10-23',
 '2019-05-04',
 '2019-09-13',
 '2019-11-10',
 '2020-01-30',
 '2020-03-05',
 '2020-06-29',
 '2020-10-15',
 '2021-04-26',
 '2021-06-02',
 '2022-03-14',
 '2022-10-18',
 '2022-12-06',
 '2017-03-02',
 '2017-03-04',
 '2017-03-20',
 '2017-07-19',
 '2017-08-06',
 '2017-08-21',
 '2017-08-27',
 '2017-09-25',
 '2017-11-27',
 '2018-11-02',
 '2019-02-09',
 '2019-03-13',
 '2019-04-20',
 '2019-05-25',
 '2019-05-31',
 '2019-11-24',
 '2020-05-21',
 '2020-08-14',
 '2020-09-20',
 '2020-12-08',
 '2021-11-10',
 '2022-01-24',
 '2022-05-04',
 '2022-07-22',
 '2022-10-04',
 '2022-10-13',
 '2017-05-03',
 '2017-05-31',
 '2017-06-30',
 '2018-01-26',
 '2018-11-16',
 '2018-12-10',
 '2019-01-23',
 '2019-02-16',
 '2019-11-18',
 '2020-01-29',
 '2020-03-24',
 '2020-09-05',
 '2020-10-08',
 '2020-12-17',
 '2021-05-30',
 '2021-08-01',
 '2022-06-21',
 '2017-08-05',
 '2017-09-19',
 '2017-10-25',
 '2018-02-03',
 '2018-04-22',
 '2018-05-21',
 '2019-07-04',
 '2019-08-05',
 '2020-02-28',
 '2020-03-15',
 '2020-04-08',
 '2020-10-19',
 '2020-12-07',
 '2021-04-17',
 '2021-06-11',
 '2021-07-22',
 '2021-09-16',
 '2022-04-21',
 '2022-08-02',
 '2022-08-05',
 '2022-09-26',
 '2017-04-26',
 '2017-11-12',
 '2017-12-09',
 '2018-03-08',
 '2018-03-24',
 '2018-06-24',
 '2018-07-25',
 '2018-10-21',
 '2018-10-22',
 '2018-11-14',
 '2019-01-08',
 '2019-02-26',
 '2019-06-28',
 '2019-07-29',
 '2019-08-14',
 '2019-08-23',
 '2020-03-14',
 '2020-03-28',
 '2020-04-05',
 '2020-08-27',
 '2021-06-14',
 '2021-06-28',
 '2021-07-26',
 '2021-11-15',
 '2022-07-03',
 '2022-12-14',
 '2017-09-17',
 '2020-11-05',
 '2020-12-02',
 '2021-02-15',
 '2021-07-04',
 '2022-09-25',
 '2017-05-20',
 '2017-06-08',
 '2017-10-22',
 '2018-02-27',
 '2018-05-12',
 '2019-05-26',
 '2019-06-02',
 '2020-02-06',
 '2020-04-11',
 '2020-08-29',
 '2020-09-18',
 '2020-10-01',
 '2020-10-23',
 '2020-12-16',
 '2021-01-25',
 '2021-02-13',
 '2021-05-29',
 '2021-09-18',
 '2021-11-14',
 '2022-01-25',
 '2022-02-20',
 '2022-03-25',
 '2022-03-27',
 '2022-04-10',
 '2022-04-17',
 '2022-07-27',
 '2022-09-29',
 '2022-10-07',
 '2022-12-15',
 '2017-02-13',
 '2017-03-31',
 '2017-11-16',
 '2018-05-04',
 '2018-05-29',
 '2018-08-12',
 '2019-01-16',
 '2019-03-01',
 '2019-03-10',
 '2019-10-02',
 '2019-12-31',
 '2020-08-06',
 '2021-08-14',
 '2021-09-29',
 '2022-01-13',
 '2022-07-05',
 '2022-08-01',
 '2022-09-20',
 '2022-10-11',
 '2017-06-01',
 '2017-06-29',
 '2017-09-05',
 '2020-02-05',
 '2020-05-31',
 '2020-06-12',
 '2020-09-13',
 '2021-03-18',
 '2021-06-23',
 '2021-06-25',
 '2021-12-05',
 '2022-01-20',
 '2022-02-03',
 '2022-11-04',
 '2017-02-03',
 '2018-04-23',
 '2018-05-27',
 '2018-06-16',
 '2018-08-26',
 '2018-09-19',
 '2019-04-09',
 '2019-06-29',
 '2020-02-15',
 '2020-04-09',
 '2020-10-24',
 '2021-07-17',
 '2021-09-20',
 '2021-10-01',
 '2022-02-11',
 '2022-04-20',
 '2022-07-18',
 '2022-10-21',
 '2018-09-25',
 '2018-12-07',
 '2019-07-25',
 '2019-09-02',
 '2020-01-20',
 '2020-01-28',
 '2020-11-06',
 '2021-05-06',
 '2022-09-22',
 '2017-03-05',
 '2017-03-28',
 '2017-05-27',
 '2018-02-19',
 '2018-04-06',
 '2018-04-03',
 '2018-04-12',
 '2018-12-27',
 '2019-03-05',
 '2019-04-18',
 '2019-11-30',
 '2020-03-01',
 '2020-08-16',
 '2021-03-28',
 '2021-04-18',
 '2021-05-13',
 '2022-04-03',
 '2022-05-31',
 '2022-07-04',
 '2017-07-06',
 '2017-08-15',
 '2018-05-18',
 '2018-06-23',
 '2018-10-26',
 '2019-04-16',
 '2020-03-27',
 '2020-06-04',
 '2020-08-13',
 '2020-09-01',
 '2020-12-24',
 '2021-08-10',
 '2021-09-12',
 '2022-08-19',
 '2022-09-02',
 '2022-10-23',
 '2017-02-23',
 '2017-12-19',
 '2018-01-28',
 '2018-09-05',
 '2019-01-14',
 '2020-09-16',
 '2021-03-22',
 '2021-04-14',
 '2021-07-21',
 '2021-12-12',
 '2017-10-04',
 '2017-11-09',
 '2018-04-28',
 '2018-08-14',
 '2019-11-04',
 '2019-11-12',
 '2021-06-24',
 '2021-09-10',
 '2021-11-28',
 '2022-01-09',
 '2022-05-03',
 '2022-06-02',
 '2022-06-06',
 '2022-09-07',
 '2022-10-08',
 '2022-10-29',
 '2022-11-20',
 '2022-12-12',
 '2017-03-30',
 '2017-05-22',
 '2017-11-23',
 '2017-11-25',
 '2018-01-27',
 '2018-08-27',
 '2019-09-07',
 '2019-11-15',
 '2020-02-29',
 '2020-03-11',
 '2020-05-12',
 '2020-07-23',
 '2021-02-27',
 '2021-07-16',
 '2021-09-27',
 '2021-10-02',
 '2021-10-03',
 '2021-11-20',
 '2022-07-23',
 '2017-09-07',
 '2017-12-31',
 '2018-07-05',
 '2020-03-25',
 '2020-04-18',
 '2020-11-09',
 '2020-11-24',
 '2021-04-13',
 '2021-08-06',
 '2021-08-07',
 '2022-09-10',
 '2022-11-06',
 '2017-09-08',
 '2018-10-09',
 '2018-12-12',
 '2019-03-12',
 '2019-06-22',
 '2020-02-02',
 '2020-03-17',
 '2020-03-21',
 '2020-11-20',
 '2021-02-12',
 '2021-12-20',
 '2022-02-07',
 '2017-06-21',
 '2017-07-03',
 '2017-09-09',
 '2017-09-21',
 '2018-01-11',
 '2018-07-09',
 '2018-10-31',
 '2019-02-01',
 '2019-05-08',
 '2019-05-09',
 '2020-05-16',
 '2020-10-11',
 '2021-10-10',
 '2022-01-06',
 '2022-04-22',
 '2017-08-07',
 '2017-09-02',
 '2018-07-24',
 '2018-11-12',
 '2019-02-19',
 '2019-06-26',
 '2021-05-14',
 '2021-07-27',
 '2022-06-29',
 '2022-07-24',
 '2017-03-13',
 '2017-03-23',
 '2017-04-09',
 '2017-08-16',
 '2017-11-13',
 '2018-04-25',
 '2018-11-21',
 '2019-06-19',
 '2019-08-03',
 '2019-11-07',
 '2020-03-19',
 '2020-04-25',
 '2020-09-10',
 '2021-12-11',
 '2022-11-08',
 '2022-11-13',
 '2017-02-09',
 '2018-02-04',
 '2018-10-11',
 '2019-06-12',
 '2020-03-03',
 '2020-03-09',
 '2020-05-25',
 '2020-08-15',
 '2021-11-25',
 '2022-02-17',
 '2017-02-24',
 '2017-04-06',
 '2017-05-01',
 '2019-04-21',
 '2019-06-04',
 '2020-02-10',
 '2020-03-20',
 '2020-10-02',
 '2020-11-14',
 '2021-11-29',
 '2022-01-29',
 '2022-02-27',
 '2022-04-29',
 '2022-11-27',
 '2017-10-06',
 '2018-05-23',
 '2018-06-11',
 '2018-07-20',
 '2018-08-05',
 '2018-12-29',
 '2019-03-09',
 '2020-02-01',
 '2021-01-05',
 '2021-03-12',
 '2021-08-05',
 '2021-08-20',
 '2022-04-01',
 '2017-05-19',
 '2018-05-06',
 '2018-08-15',
 '2019-02-02',
 '2019-02-27',
 '2019-04-11',
 '2019-07-24',
 '2019-11-09',
 '2019-12-16',
 '2020-01-13',
 '2020-07-13',
 '2020-07-12',
 '2020-11-01',
 '2021-01-27',
 '2021-06-04',
 '2022-04-14',
 '2022-04-28',
 '2017-05-28',
 '2017-06-13',
 '2017-09-15',
 '2017-10-12',
 '2017-11-30',
 '2018-01-23',
 '2018-05-30',
 '2019-01-22',
 '2019-02-15',
 '2019-07-27',
 '2020-05-08',
 '2021-12-27',
 '2022-02-14',
 '2022-11-03',
 '2022-10-31',
 '2017-02-18',
 '2017-04-07',
 '2017-09-28',
 '2017-11-06',
 '2018-09-28',
 '2018-10-03',
 '2019-04-19',
 '2019-05-21',
 '2019-10-05',
 '2020-01-31',
 '2020-02-27',
 '2020-04-07',
 '2020-08-30',
 '2020-12-27',
 '2017-12-27',
 '2019-04-07',
 '2019-05-18',
 '2019-07-03',
 '2019-09-14',
 '2019-10-14',
 '2021-04-11',
 '2021-04-22',
 '2021-07-05',
 '2021-10-05',
 '2022-09-08',
 '2017-04-12',
 '2017-12-13',
 '2018-01-17',
 '2018-07-07',
 '2019-11-11',
 '2020-05-06',
 '2021-12-01',
 '2021-12-16',
 '2022-03-06',
 '2022-06-05',
 '2017-03-03',
 '2018-03-15',
 '2018-07-01',
 '2020-09-29',
 '2020-11-17',
 '2021-01-07',
 '2021-02-07',
 '2022-07-29',
 '2022-11-01',
 '2018-01-03',
 '2018-02-12',
 '2019-03-14',
 '2019-04-27',
 '2019-06-14',
 '2019-07-16',
 '2020-08-26',
 '2021-09-28',
 '2021-12-31',
 '2017-03-18',
 '2018-05-24',
 '2018-08-23',
 '2018-09-18',
 '2019-01-06',
 '2019-08-04',
 '2020-12-18',
 '2021-01-30',
 '2021-02-21',
 '2021-03-24',
 '2022-05-18',
 '2022-10-27']

In [20]:
result = []

for date in unique_dates:

    iter_df = noahs_ordered_products_customer_details_duplicates[
        noahs_ordered_products_customer_details_duplicates["shipping_date"] == date]

    if initial_person_customerid in list(iter_df["customerid"].unique()):

        result.append(date)

result

[]